* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#pass{
    width: 30%;
    margin: 8px 0;
    padding: 15px 20px;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    right: 7.5%;
    transform: translate(-50%, -50%);

    

}
#user{
    width: 30%;
    margin: 8px 0;
    padding: 15px 20px;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    right: 7.5%;
    transform: translate(-50%, -50%);
}
#login {
    width: 7.5%;
    position: absolute;
    top: 70%;
    right: 36%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: 2px white;
}
#login1{
    position: absolute;
    top: 70%;
    right: 28%;
    transform: translate(-50%, -50%);
    padding: 8px 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    text-decoration: none;
}
h1 {
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);

}
img{
    height: 300px;
    width: 270px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg); 
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg); 
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg); 
}

